body{
    font-family: Raleway, Arial, sans-serif;
    font-size:18px;
    color:#7a7c7f;
    font-weight:300;
    overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Raleway, Arial, sans-serif;
    font-weight:400;
    letter-spacing:0.02em;
    margin:0 0 20px;
    text-align:center;
    -webkit-text-stroke: .01em #333;
    -webkit-font-smoothing: antialiased;
}
h1 {vertical-align: middle}
h1 span { font-family: Raleway, Arial, sans-serif; font-size: 24px;text-transform: capitalize;line-height: 36px;}
h1 a:hover, h1 a:focus {text-decoration: none;}


#header { background-color : #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3);z-index: 1000;}
header {padding:10px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 2px 2px rgb(230, 230, 230);
}

footer {
    background: none repeat scroll 0 0 #253341;
    /*color: #7B8F9D;*/
    color: #fff;
    font-size: 0.8em;
    font-weight: 400;
    padding: 40px 0;
    margin-top:40px;
}

ul, ol {
    list-style-type: none;
}

/**********************************
Main Colors
***********************************/
a,
a:hover,
a:focus, #howmany-min, #howmany-max, #whatwebuy .fa {
  color:#E80C7A;
}

.nav li a:hover, .nav li a:focus {
    background:transparent;
}

section.container {margin-top : 30px;}

section.container h2{
    position:relative;
    margin-bottom:40px;
    line-height:64px;
    letter-spacing:0.03em;
    text-align:center;
}

section.container h2:after {
    display: block;
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -50px;
    background: #E80C7A;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.08);
}

section.container h3 {
    margin-top : 30px;
}
section.container h3{
    position:relative;
    margin-bottom:20px;
    line-height:40px;
    letter-spacing:0.03em;
    text-align:center;
}
section.container h3:after {
    text-align:center;
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -30px;
    background: #E80C7A;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.08);
}

/* FOOTER */

footer {
    /*background:#9C1759;*/
    background: #E80C7A;
}
footer a, footer a:hover, footer a:focus, footer .social-links li:hover a {
    /*color: #9FEE00;*/
    color : #fff;
}
#followlinks li a { font-size: 2.5rem;}
#followlinks li a span { display:none;}
#followlinks li a:hover {
    /*background:#9FEE00;
    color:#9C1759;*/
    background : #fff;
    color: #E80C7A;
    box-shadow:0 4px 0 rgba(0,0,0,0.05); border-radius: 150px;
}
/* !FOOTER */

/*--------------------
----Process Styles----
----------------------*/

.process-list {
    margin:0;
    padding:0;
    background:transparent;
    list-style:none;
    text-align:center;
    width:100%;
}

.process-list li{
    display:inline-block;
    background:transparent;
    margin:20px 0;
    width:25%;
    vertical-align:top;
}

.process-list .icon{
    position:relative;
    display:block;
    text-align:center;
    width:12rem;
    height:12rem;
    margin:0 auto 8px;
    background:#E80C7A;
    border-radius:50%;
    font-size:5rem;
    line-height:120px;
    color:#fff;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}

.process-list .icon:hover{
    font-size:36px;
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.process-list li:hover .icon {
    font-size:38px;
    box-shadow:0 0 0 10px rgba(0,0,0,0.05);
}

.process-list .icon:after{
    display:block;
    content:"";
    position:absolute;
    width:120px;
    height:120px;
    top:0;
    left:0;
    border-radius:50%;
    box-shadow:inset 0 0 0 0 rgba(0,0,0,0.08);
    background:transparent;
    -webkit-transition:box-shadow .3s ease-out;
    transition:box-shadow .3s ease-out;
}

.process-list li:hover .icon:after {
    box-shadow:inset 0 0 0 10px rgba(0,0,0,0.08);
}
/*---------------------
----!Process Styles----
----------------------*/

#whatwebuy ul {
     margin:0;padding:0;
}
#whatwebuy dt, #whatwebuy dd {
    padding-top : 20px;
}

/*---------------------
----Brands Styles----
----------------------*/
.brand {text-transform: uppercase;}
#brands-list-index {
    text-align: center;
}
#brands-list .dl-horizontal dt {
    width:40%;
}
#brands-list .dl-horizontal dd {
    margin-left:45%;
}
#brands-list .dl-horizontal dt a {
    font-size:10px;
    margin-left : 5px;
    vertical-align: middle;
}

/*---------------------
----!Brands Styles----
----------------------*/
#howmany p {
    vertical-align: center;
}/*
#faq .dl-horizontal dt {
    width: 40%;
    text-overflow: initial;
    white-space: normal;
    padding-top : 20px;
}
#faq .dl-horizontal dd {
    margin-left:45%;
    text-overflow: initial;
    white-space: normal;
    padding-top : 20px;
}*/
/*--------------------
----RESPONSIVENESS ----
----------------------*/
@media (max-width: 1023px) {
    h1, h1 span{font-size:22px;line-height: 22px;}
    .nav li a {font-size : 14px;}
    .navbar-nav>li>a {font-size: 14px;padding:5px;}
}
@media (max-width: 767px) {
    body,p{
        font-size:16px;
        line-height:21px;
    }
    h1 {
        font-size:24px;
        line-height:28px;
    }
    
	h2{
		font-size:21px;
        line-height:24px;
	}
    .section-title{
        font-size:28px;
        line-height:36px;
    }
    .section-description{
        font-size:18px;
    }
    #main-nav .nav a {
        text-align:center;
        border-bottom:1px solid #f5f5f5;
    }
    
    #main-nav .nav a:before {
        display:none;
    }
    .process-line{
		display:none;
	}
    .process-list li {
        width:100%;
        margin-bottom: 20px;
    }
    #whatwebuy dt, #whatwebuy dd {
        padding-top : 10px;
    }
    h1.navbar-header{float:left;clear:right;}
    h1.navbar-header a, h1.navbar-hear span {font-size:18px;}
    .navbar-collapse {float:left;overflow-x: hidden;clear:left;}
    .navbar-toggle {margin:0px;border-color: #E80C7A;border-radius:0;}
    .navbar-toggle span {border-color: #E80C7A;background-color: #E80C7A}
    /*margin:0px;padding:0px;clear:none;*/
}
@media (max-width: 319px){
    h1, h1 span{font-size:20px;line-height: 22px;}
    h1.navbar-header{width:150px;font-size: 14px;float:left;}
    section.container h2 {line-height: 22px;}
}

/*--------------------
----!RESPONSIVENESS --
----------------------*/


