/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Apple Style
Version: 1.3
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/
Theme URL: http://www.sequencejs.com/themes/apple-style/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2012 - 2013 unless otherwise stated.
*/

#sequence-theme {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

/* when in fallback mode (for browsers that don't support transitions) hide anything outside of the Sequence container */
#sequence.sequence-fallback {
  overflow: hidden;
}

#sequence {
  position: relative;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  /*background: transparent;*/
    /*background-position: center;*/
    background-image: url(../img/closet.jpg);
    background-size: cover;
  opacity:1;
  /* Preloader */
  /* !Preloader */
  /* Frame Animations */
  /* !Frame Animations */
}
#sequence > .sequence-canvas {
    position:relative;
    height: 100%;
    padding:0;
}
#sequence > .sequence-canvas > li {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#sequence > .sequence-canvas li > * {
    position: absolute;
}

/** Styling **/
#sequence h2 {
    font-family: Raleway, Arial, sans-serif;
    font-size: 58px;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #fff;
    text-shadow:2px 2px 4px #000000;
}

#sequence h3 {
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
}
#sequence .slide p {
    line-height:32px;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    text-shadow:2px 2px 4px #000000;
}
/** !Styling **/

/* CONTROLS */
#sequence .controls {
  height: 49px;
  margin: -25px auto 0;
  padding:0;
  position: relative;
  top: 50%;
  width: 100%;
  z-index: 9998;
}
#sequence .sequence-prev,
#sequence .sequence-next {
    position: absolute;
    z-index: 10000;
    cursor:pointer;
    transition:opacity .3s ease-out;
    width: auto;
    height: 70px;
    line-height:70px;
    top:50%;
    margin-top:-35px;
    font-size:68px;
    opacity: 0.6;
}
#sequence .sequence-next {
  right: 0;
}
#sequence .sequence-prev {
  left: 0;
}

#sequence .sequence-next:hover,
#sequence .sequence-prev:hover,
#sequence .sequence-pause:hover {
  opacity:1;
}
/* !CONTROLS */

/* SLIDES POSITIONS */
#sequence #slide1 {
    left: 0%;
    top: 300px;
}
#sequence #slide1 h2 {
    top : -100px;
    text-align: center;
    width:100%;
}
#sequence #slide1 p {
    text-align: center;
    width:100%;
}

#sequence #slide2 * {
    right: 10%;
    top: 200px;
    width:40%;
}
#sequence #slide2 h2 {
    top: 100px;
}

#sequence #slide3 * {
    left: 7%;
    top: 200px;
    width:40%;
}
#sequence #slide3 h2 {
    top: 100px;
}
/* !SLIDES POSITIONS */

/** ANIMATIONS **/
#sequence .sequence-canvas .in-from-left {
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
  transform: translateX(-1000px);
}

#sequence .sequence-canvas .animate-in .in-from-left {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#sequence .sequence-canvas .animate-out .in-from-left {
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
  transform: translateX(-1000px);
}

#sequence .sequence-canvas .in-from-right {
  -webkit-transform: translateX(1000px);
  -moz-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  -o-transform: translateX(1000px);
  transform: translateX(1000px);
}

#sequence .sequence-canvas .animate-in .in-from-right {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#sequence .sequence-canvas .animate-out .in-from-right {
  -webkit-transform: translateX(1000px);
  -moz-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  -o-transform: translateX(1000px);
  transform: translateX(1000px);
}

#sequence .sequence-canvas .in-from-top {
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
  transform: translateY(-1000px);
}

#sequence .sequence-canvas .animate-in .in-from-top {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

#sequence .sequence-canvas .animate-out .in-from-top {
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
  transform: translateY(-1000px);
}

#sequence .sequence-canvas .in-from-bottom {
  -webkit-transform: translateY(1000px);
  -moz-transform: translateY(1000px);
  -ms-transform: translateY(1000px);
  -o-transform: translateY(1000px);
  transform: translateY(1000px);
}

#sequence .sequence-canvas .animate-in .in-from-bottom {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

#sequence .sequence-canvas .animate-out .in-from-bottom {
  -webkit-transform: translateY(1000px);
  -moz-transform: translateY(1000px);
  -ms-transform: translateY(1000px);
  -o-transform: translateY(1000px);
  transform: translateY(1000px);
}

#sequence .sequence-canvas .fast {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  transition-delay:.6s;
}

#sequence .sequence-canvas .slow {
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -ms-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s;
  transition-delay:.6s;
}

#sequence .sequence-canvas .animate-out .slow,
#sequence .sequence-canvas .animate-out .fast{
  transition-delay:0s;
	
}

#sequence .sequence-canvas .delay1 {
  transition-delay:1s;
}

#sequence .sequence-canvas .delay2 {
  transition-delay:1.4s;
}

#sequence .sequence-canvas .delay3 {
  transition-delay:1.8s;
}


#sequence .sequence-canvas li > * {
	opacity:0;
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  -ms-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  transition-duration: 1.2s;
}

#sequence .sequence-canvas .animate-in > * {
	opacity:1;
}

#sequence .sequence-canvas .animate-out > * {
	opacity:0;
}
/** !ANIMATIONS **/

/** Responsiveness **/
@media (max-width: 1169px){
	#sequence .controls {
		display:none;
	}
}

@media (max-width: 991px){
    #sequence,
    #sequence-theme{
        height:530px;
    }
    #sequence #slide1 h2 {
        top : -150px;
    }
}

@media (max-width: 767px){
    
    #sequence,
    #sequence-theme{
        height:400px;
    }
    
    #sequence .message-slide1,
    #sequence .message-slide2,
    #sequence .message-slide3 {
      top:80px;
      bottom: auto;
    }
}

@media (max-width: 767px){
    #sequence h2 {font-size: 32px;}
    #sequence .slide p {font-size: 24px;line-height:24px;}
}
@media (max-width: 479px){
    #sequence,
    #sequence-theme {height:300px;}
    #sequence h2 {font-size: 32px;line-height:30px;}
    #sequence .slide p {font-size: 18px;line-height:18px;}
    #sequence #slide2 * , #sequence #slide3 * {
        left:0px;right:0px;
    }
    
    #sequence #slide1, #sequence #slide2, #sequence #slide3 {
        right: 0%;
        left: 0%;
        top: 0px;
        width: 100%;
    }
    #sequence #slide1 h2, #sequence #slide2 h2, #sequence #slide3 h2 {
        top : 100px;
        text-align: center;
        width:100%;
    }
    #sequence #slide1 p, #sequence #slide2 p, #sequence #slide3 p {
        text-align: center;
        width:80%;
        left:10%;
        top : 180px;
    }
    #sequence .slide p {text-align: center;}
    
}
@media (max-width: 319px){
    #sequence h2 {font-size: 26px;}
    #sequence .slide p {font-size: 14px;}
}
/* !Responsiveness */
